<div class="container p-4">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Número de Vale</th>
                    <th scope="col">Cosechador</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <div class="row">
                    <tr>
                        <h6 class="text-uppercase">
                            <td>01</td>
                            <td>27125945597</td>
                            <td>12-03-2019</td>

                            <td>
                                <a class="btn btn-primary" href="/vales/ver">Ver</a>
                                <a class="btn btn-success" href="/uva/add">Editar</a>
                                <a class="btn btn-danger" href="/uva/delete/#">Eliminar</a>
                            </td>
                        </h6>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>20084573132</td>
                        <td>12-03-2019</td>

                        <td>
                            <a class="btn btn-primary" href="/vales/ver">Ver</a>
                            <a class="btn btn-success" href="/vales/add">Editar</a>
                            <a class="btn btn-danger" href="/vales/delete/#">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>20887456322</td>
                        <td>12-03-2019</td>

                        <td>
                            <a class="btn btn-primary" href="/vales/ver">Ver</a>
                            <a class="btn btn-success" href="/vales/add">Editar</a>
                            <a class="btn btn-danger" href="/vales/delete/#">Eliminar</a>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>