<div class="container p-4">
    <div class="row">

        <div class="card">
            <div class="card-header">
                VALE - FINCA LA MARTHITA
            </div>
            <div class="card-body">
                <h5 class="card-title">Vale Número 01</h5>
                
                <ul class="list-group">
                    <li class="list-group-item">Fecha: 12-03-2019</li>
                    <li class="list-group-item">Encargado: Hugo Mazzega</li>
                    <li class="list-group-item">Cosechador: María Federici</li>
                    <li class="list-group-item">CUIL: 27125945597</li>
                    <li class="list-group-item">Precio: $30</li>
                    <li class="list-group-item">Cantidad de tachos de uva: 50</li>
                    <li class="list-group-item">Monto: $1500</li>
                </ul>
                <a href="#" class="btn btn-warning">Imprimir</a>
            </div>
        </div>

    </div>
</div>