<div class="container p-4">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Patente</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <div class="row">
                    <tr>
                        <h6 class="text-uppercase">
                            <td>AAA 000</td>
                            <td>Mercedes Benz</td>
                            <td>1991</td>

                            <td><a class="btn btn-success" href="/camion/add">Editar</a>
                                <a class="btn btn-danger" href="/camion/delete/#">Eliminar</a>
                            </td>
                        </h6>
                    </tr>
                    <tr>
                        <td>JGT 233</td>
                            <td>Peugeot</td>
                            <td>2002</td>

                        <td><a class="btn btn-success" href="/camion/add">Editar</a>
                            <a class="btn btn-danger" href="/camion/delete/#">Eliminar</a>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
        <a type="button" class="btn btn-primary" href="/camion/add">Añadir Camión</a>
    </div>
</div>