<div class="container p-4">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Variedad</th>
                    <th scope="col">Cuartel</th>
                    <th scope="col">Graduación</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <div class="row">
                    <tr>
                        <h6 class="text-uppercase">
                            <td>Malbec</td>
                            <td>5</td>
                            <td>12</td>

                            <td><a class="btn btn-success" href="/uva/add">Editar</a>
                                <a class="btn btn-danger" href="/uva/delete/#">Eliminar</a>
                            </td>
                        </h6>
                    </tr>
                    <tr>
                        <td>Merlot</td>
                        <td>8</td>
                        <td>13</td>

                        <td><a class="btn btn-success" href="/uva/add">Editar</a>
                            <a class="btn btn-danger" href="/uva/delete/#">Eliminar</a>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
        <a type="button" class="btn btn-primary" href="/uva/add">Añadir Uva</a>
    </div>
</div>