<div class="container p-4">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N° de Remito</th>
                    <th scope="col">Tipo de cosecha</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <div class="row">
                    <tr>
                        <h6 class="text-uppercase">
                            <td>0001</td>
                            <td>Manual</td>
                            <td>12-03-2019</td>
                            
                            <td>
                                <a class="btn btn-primary" href="/remitos/ver">Ver</a>
                                <a class="btn btn-success" href="/remitos/addremitos">Editar</a>
                                <a class="btn btn-danger" href="/remitos/delete/#">Eliminar</a>
                            </td>
                        </h6>
                    </tr>
                    <tr>
                        <td>0002</td>
                        <td>Automática</td>
                        <td>14-03-2019</td>
                        
                        <td>
                            <a class="btn btn-primary" href="/remitos/ver">Ver</a>
                            <a class="btn btn-success" href="/remitos/addremitos">Editar</a>
                            <a class="btn btn-danger" href="/remitos/delete/#">Eliminar</a>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
        <a type="button" class="btn btn-primary" href="/remitos/add">Añadir Remito</a>
    </div>
</div>